In a company Hire IT, there are these employees.

employeeID	name	department	salary
- 0	Alice	HR	31000
- 1	Bob	IT	41000
- 2	Charlie	HR	28000
  - a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

  - b) Extract the second record in this dataset.

  - c) Extract all rows from this dataset and print it in this format

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.
  - d) Find out the average salary in Hire IT.

  - e) Find out the average salary among the HR department in Hire IT.

  - f) Extract all records where the department is HR.

  - g) Find all unique departments in this list.

In [2]:
import pandas as pd

In [24]:
Employee_list = [
    {"name": "Alice", "department": "HR","salary": 31000},
    {"name": "Bob", "department": "IT", "salary": 41000},
    {"name": "Charlie", "department": "HR", "salary": 28000},
]

In [30]:
print( Employee_list[1])

{'name': 'Bob', 'department': 'IT', 'salary': 41000}

In [66]:
for e in Employee_list:
    print(f"{e["name"]} works in {e["department"]} and earns {e["salary"]}")

Alice works in HR and earns 31000
Bob works in IT and earns 41000
Charlie works in HR and earns 28000

In [68]:
import pandas as pd

In [71]:
df = pd.DataFrame(Employee_list)
df

      name department  salary
0    Alice         HR   31000
1      Bob         IT   41000
2  Charlie         HR   28000