## Pandas and data processing

In [76]:
import pandas as pd

#De olika ämnena vi laddar in
subjects = ["Engelska", "Matematik", "Svenska", "Svenska som andraspråk"]

# Dictionary för att lagra dataframes för varje ämne
dataframes = {}


# funktion för att ändra kolumnnamn
def rename_columns(df):
    new_columns = [
        "Plats",
        "Huvudman",
        "Totalt (A-F)",
        "Flickor (A-F)",
        "Pojkar (A-F)",
        "Totalt (A-E)",
        "Flickor (A-E)",
        "Pojkar (A-E)",
        "Totalt (poäng)",
        "Flickor (poäng)",
        "Pojkar (poäng)",
    ]
    if len(df.columns) == len(new_columns):
        df.columns = new_columns
    return df


# Läs in data från varje enskild sheet och ändra namn på kolumnerna 
for subject in subjects:
    df = pd.read_excel("data/riket2023_åk9_np.xlsx", sheet_name=subject, skiprows=8)
    df = rename_columns(df)
    dataframes[subject] = df

print("Allt funkar som det ska. De tillgängliga ämnena är:", ", ".join(subjects))

Allt funkar som det ska. De tillgängliga ämnena är: Engelska, Matematik, Svenska, Svenska som andraspråk

In [79]:
# Kontroll för att se till så att utskrift fungerar. Ändra till andra ämnen för att se annan data
dataframes["Matematik"]

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7