## Pandas series and dataFrame

In [3]:
import pandas as pd

students_data = dict(business = 25, AI = 30, JS = 30, JAVA = 27)
students_data

{'business': 25, 'AI': 30, 'JS': 30, 'JAVA': 27}

In [4]:
series_program = pd.Series(students_data)
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [5]:
print(series_program)

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [7]:
series_program.iloc[0], series_program.iloc[-1]

(np.int64(25), np.int64(27))

In [8]:
series_program.keys()

Index(['business', 'AI', 'JS', 'JAVA'], dtype='object')

In [9]:
series_program["AI"]

np.int64(30)

In [10]:
print(series_program["AI"])

30

In [11]:
series_program["AI"] + 50

np.int64(80)

**another series using list**

In [13]:
import random as rnd
rnd.seed(42)

dice_list = [rnd.randint(1,6) for _ in range(5)]
dice_list

[6, 1, 1, 6, 3]

In [15]:
dice_series = pd.Series(dice_list)
dice_series

0    6
1    1
2    1
3    6
4    3
dtype: int64

In [16]:
dice_series.min(), dice_series.max(), dice_series.mean()

(np.int64(1), np.int64(6), np.float64(3.4))

## DataFrame

- analog of 2D numpy array with flexible row indices and col names

In [19]:
df_programs = pd.DataFrame(series_program, columns= ("Num students",))
df_programs

          Num students
business            25
AI                  30
JS                  30
JAVA                27

In [20]:
# create 2 series objects using dictionary
students = pd.Series(dict(AI=25, NET=30, APP= 30, Java= 27))
language = pd.Series(dict(AI= "Python", NET="C#", APP="Kotlin", Java= "Java"))

In [21]:
students

AI      25
NET     30
APP     30
Java    27
dtype: int64

In [22]:
language

AI      Python
NET         C#
APP     Kotlin
Java      Java
dtype: object

In [23]:
df_programs = pd.DataFrame({"Students": students, "Language": language})
df_programs

      Students Language
AI          25   Python
NET         30       C#
APP         30   Kotlin
Java        27     Java

In [28]:
import numpy as np

pd.DataFrame(
    {
        "Students": np.array((25,30,30,27)),
        "Language": ["Python", "C#", "Kotlin", "Java"],
        
    },
    index = ["AI", ".NET", "APP", "Java"]
)

      Students Language
AI          25   Python
.NET        30       C#
APP         30   Kotlin
Java        27     Java

In [29]:
df_programs.index

Index(['AI', 'NET', 'APP', 'Java'], dtype='object')

## Data selection

In [30]:
df_programs["Students"]

AI      25
NET     30
APP     30
Java    27
Name: Students, dtype: int64

In [31]:
df_programs[["Language", "Students"]]

     Language  Students
AI     Python        25
NET        C#        30
APP    Kotlin        30
Java     Java        27

In [ ]:
df_programs.Language # Do not use this! The reason is if you have a space in the column name, you can not use this!

AI      Python
NET         C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [34]:
df_programs["Language"]

AI      Python
NET         C#
APP     Kotlin
Java      Java
Name: Language, dtype: object

In [36]:
df_programs["Language"]["NET"]

'C#'

## Indexers

In [37]:
df_programs.loc["Java"]

Students      27
Language    Java
Name: Java, dtype: object

In [38]:
df_programs.loc["AI"]

Students        25
Language    Python
Name: AI, dtype: object

In [42]:
df_programs.loc[["Java", "APP"]]

      Students Language
Java        27     Java
APP         30   Kotlin

In [43]:
try:
    df_programs[["Java", "APP"]]
except KeyError as err:
    print(err)

"None of [Index(['Java', 'APP'], dtype='object')] are in the [columns]"

In [44]:
df_programs.loc["AI": "APP"]

     Students Language
AI         25   Python
NET        30       C#
APP        30   Kotlin

In [46]:
df_programs.iloc[1]

Students    30
Language    C#
Name: NET, dtype: object

In [47]:
df_programs.iloc[1:3]

     Students Language
NET        30       C#
APP        30   Kotlin

## Masking

In [48]:
df_programs["Students"] > 25

AI      False
NET      True
APP      True
Java     True
Name: Students, dtype: bool

In [49]:
df_programs[df_programs["Students"] > 25]

      Students Language
NET         30       C#
APP         30   Kotlin
Java        27     Java

In [50]:
df_programs.query("Students > 25")

      Students Language
NET         30       C#
APP         30   Kotlin
Java        27     Java